<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Web Page</title>
  </head>
  <body>
    <p>Application is currently in Maintenance mode please try again later.</p>

    {{> footer}}
</html>
